<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task - LifeSync</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h1>Add New Task</h1>

        <form action="/add_task" method="POST">

            <input
                type="text"
                name="task_name"
                placeholder="Task Name"
                required>

            <select name="category" required>

                <option value="">Select Category</option>

                <option>Health</option>

                <option>Career</option>

                <option>Study</option>

                <option>Finance</option>

                <option>Personal</option>

            </select>

            <select name="repeat_type" required>

                <option value="">Repeat</option>

                <option>Daily</option>

                <option>Weekly</option>

                <option>Monthly</option>

            </select>
            <input
               type="text"
               name="goal"
            placeholder="Goal (Optional)">

            <!-- NEW -->

            <input
                type="date"
                name="due_date">
            <input
            type="time"
            name="due_time">

            <button type="submit">
                Save Task
            </button>

        </form>

    </div>

</div>

</body>
</html>