<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Task - LifeSync</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="form-container">

    <h1>Edit Task</h1>

    <form method="POST">

        <label>Task Name</label>

        <input
            type="text"
            name="task_name"
            value="{{ task[0] }}"
            required
        >

        <label>Category</label>

        <select name="category" required>

            <option value="Health"
                {% if task[1] == "Health" %}selected{% endif %}>
                Health
            </option>

            <option value="Study"
                {% if task[1] == "Study" %}selected{% endif %}>
                Study
            </option>

            <option value="Career"
                {% if task[1] == "Career" %}selected{% endif %}>
                Career
            </option>

            <option value="Personal"
                {% if task[1] == "Personal" %}selected{% endif %}>
                Personal
            </option>

            <option value="Finance"
                {% if task[1] == "Finance" %}selected{% endif %}>
                Finance
            </option>

        </select>

        <label>Repeat Type</label>

        <select name="repeat_type" required>

            <option value="Daily"
                {% if task[2] == "Daily" %}selected{% endif %}>
                Daily
            </option>

            <option value="Weekly"
                {% if task[2] == "Weekly" %}selected{% endif %}>
                Weekly
            </option>

            <option value="Monthly"
                {% if task[2] == "Monthly" %}selected{% endif %}>
                Monthly
            </option>

        </select>

        <label>Goal</label>

<input
    type="text"
    name="goal"
    value="{{ task[3] }}"
    placeholder="Goal (Optional)">
        
                <label>Due Date</label>

<input
    type="date"
    name="due_date"
    value="{{ task[4] }}">

<label>Due Time</label>

<input
    type="time"
    name="due_time"
    value="{{ task[5] }}">

        <br><br>

        <button type="submit" class="btn-primary">
            💾 Update Task
        </button>

        <a href="/dashboard">
            <button type="button" class="btn-secondary">
                ← Back
            </button>
        </a>

    </form>

</div>

</body>

</html>